.c-header {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1976d2;
  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    &-img {
      width: 50px;
    }
  }
  &__menu {
    display: flex;
    &-item {
      margin: 0 25px 0 0;
      list-style-type: none;
      a {
        cursor: pointer;
        color: #ffffff;
        padding: 8px 10px;
        border-radius: 4px;
      }
      a.c-header__menu-item--active-link {
        font-family: "roboto-medium";
        text-decoration: none;
        background-color: #ffffff;
        color: #1976d2;
        &:hover {
          background-color: #eeeeee;
        }
      }
      a:not(.c-header__menu-item--active-link) {
        transition: all 0.6s;
        text-decoration: none;
        &:hover {
          background-color: #1080f0;
        }
      }
    }
  }
  &__mobile-menu {
    display: none;
  }

  /* mobile */
  @media only screen and (max-width: 480px) {
    &__menu {
      display: none;
    }
    &__mobile-menu {
      display: block;
      user-select: none;
      .c-header__hamburger-menu {
        display: flex;
        margin: 0 15px 42px 0;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        &-line {
          color: #ffffff;
          font-size: 60px;
          line-height: 10px;
        }
      }
      &-slider {
        .c-header__mobile-menu-close {
          position: absolute;
          right: 0;
          font-size: 20px;
          margin-right: 15px;
          cursor: pointer;
        }
        position: absolute;
        height: 80%;
        width: 70%;
        right: 0;
        top: 75px;
        background-color: #ffffff;
        box-shadow: 0 6px 6px #0a101426, 0 0 52px #0a10141f;
        padding-left: 10px;
        z-index: 2;
        .c-header__menu-items {
          margin-top: 28px;
          .c-header__menu-item {
            margin-top: 25px;
            &--active-link {
              text-decoration: none;
              padding: 0;
            }
            a {
              color: #444444;
            }
          }
        }
      }
    }
  }
}
