<header class="c-header">
  <div class="c-header__logo">
    <a routerLink="/"
      ><img class="c-header__logo-img" src="assets/images/fox.webp" alt="logo"
    /></a>
  </div>
  <!-- desktop -->
  <nav>
    <ul class="c-header__menu">
      <ng-template [ngTemplateOutlet]="menuItemsRef"></ng-template>
    </ul>
  </nav>
  <!-- mobil -->
  <div class="c-header__mobile-menu">
    <div class="c-header__hamburger-menu" (click)="toggleHamburgerMenu()">
      <span class="c-header__hamburger-menu-line">_</span>
      <span class="c-header__hamburger-menu-line">_</span>
      <span class="c-header__hamburger-menu-line">_</span>
    </div>
    <div *ngIf="isHamburgerMenuOpen" class="c-header__mobile-menu-slider">
      <p class="c-header__mobile-menu-close" (click)="closeHamburgerMenu()">
        ✖
      </p>
      <nav>
        <ul class="c-header__menu-items">
          <ng-template [ngTemplateOutlet]="menuItemsRef"> </ng-template>
        </ul>
      </nav>
    </div>
  </div>
</header>

<!-- menu items-->
<ng-template #menuItemsRef>
  <li class="c-header__menu-item">
    <a
      routerLink="/"
      routerLinkActive="c-header__menu-item--active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeHamburgerMenu()"
      >HOME</a
    >
  </li>
  <li class="c-header__menu-item">
    <a
      routerLink="/form"
      routerLinkActive="c-header__menu-item--active-link"
      (click)="closeHamburgerMenu()"
      >SETTINGS</a
    >
  </li>
  <li class="c-header__menu-item">
    <a
      routerLink="/details"
      routerLinkActive="c-header__menu-item--active-link"
      (click)="closeHamburgerMenu()"
      >PROFILE</a
    >
  </li>
</ng-template>
