.c-header {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(25, 118, 210);
  &__logo {
    margin-left: 10px;
    &-img {
      width: 50px;
    }
  }
  &__menu {
    display: flex;
    &-item {
      margin: 0 25px 0 0;
      list-style-type: none;
      a {
        color: rgb(255, 255, 255);
        cursor: pointer;
      }
      &--active-link {
        text-decoration: underline;
      }
      a:not(.c-header__menu-item--active-link) {
        text-decoration: none;
      }
    }
  }
  &__mobile-menu {
    display: none;
  }

  /* mobile */
  @media only screen and (max-width: 400px) {
    &__menu {
      display: none;
    }
    &__mobile-menu {
      display: block;
      user-select: none;
      .c-header__hamburger-menu {
        display: flex;
        margin: 0 15px 42px 0;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        &-line {
          color: rgb(255, 255, 255);
          font-size: 60px;
          line-height: 10px;
        }
      }
      &-slider {
        .c-header__mobile-menu-close {
          position: absolute;
          right: 0;
          font-size: 20px;
          margin-right: 15px;
          cursor: pointer;
        }
        position: absolute;
        height: 80%;
        width: 80%;
        right: 0;
        top: 75px;
        background-color: white;
        box-shadow: 0 6px 6px #0a101426, 0 0 52px #0a10141f;
        padding-left: 10px;
        z-index: 2;
        .c-header__menu-items {
          margin-top: 28px;
          .c-header__menu-item {
            margin-top: 25px;
            &--active {
              text-decoration: underline;
            }
            a {
              color: rgb(68, 68, 68);
            }
          }
        }
      }
    }
  }
}
