<h1>User settings</h1>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="firstName" />
  <br />
  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName" />
  <br />
  <label for="email">Email: </label>
  <input id="email" type="text" formControlName="email" />
  <br />
  <label for="phone">Phone </label>
  <input id="phone" type="text" formControlName="phone" />
  <br />
  <label for="birthday">Birthday: </label>
  <input id="birthday" type="date" formControlName="birthday" />
  <br />
  <label for="about">About: </label>
  <input id="about" type="text" formControlName="about" />
  <br />
  <input type="file" accept="image/*" (change)="convertImageToBase64($event)" />
  <br />
  <button type="submit">Submit</button>
  <br />
  <img [src]="this.userService.getData().avatar" alt="preview" />
</form>
