.c-footer {
  height: 70px;
  width: 100%;
  background-color: rgb(25, 118, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  &__link {
    color: white;
    text-decoration: none;
  }
}
