@font-face {
  font-family: "roboto-light";
  src: url(assets/fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: "roboto-medium";
  src: url(assets/fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: "roboto-bold";
  src: url(assets/fonts/Roboto/Roboto-Bold.ttf);
}

$roboto-light: "roboto-light", sans-serif;
$roboto-medium: "roboto-medium", sans-serif;
$roboto-bold: "roboto-bold", sans-serif;

html,
body {
  font-family: $roboto-light;
  margin: 0;
}
