<main *ngIf="loading" class="c-user-profile__loading">
  <h1>Loading ...</h1>
</main>

<main
  *ngIf="!loading && fetchingErrorMessage"
  class="c-user-profile__error-message"
>
  <h1>{{ fetchingErrorMessage }}</h1>
</main>

<main
  *ngIf="!loading && !fetchingErrorMessage && !this.userData"
  class="c-user-profile__no-data"
>
  <h1>No user data is added yet.</h1>
</main>

<main
  *ngIf="!loading && !fetchingErrorMessage && this.userData"
  class="c-user-profile"
>
  <section class="c-user-profile__image-block">
    <img
      [src]="this.userData.avatar"
      alt="avatar"
      class="c-user-profile__image"
    />
    <h1 class="c-user-profile__name">
      {{ this.userData.firstName }}
      {{ this.userData.lastName }}
    </h1>
    <p *ngIf="age || age === 0" class="c-user-profile__years">
      {{ age }} years old
    </p>
  </section>
  <section class="c-user-profile__user-info-block-container">
    <article class="c-user-profile__user-info-block">
      <h3>Contact</h3>
      <p>Phone: {{ this.userData.phone }}</p>
      <p>Email: {{ this.userData.email }}</p>
    </article>
    <article class="c-user-profile__user-info-block">
      <h3>User information</h3>
      <p>First name: {{ this.userData.firstName }}</p>
      <p>Last name: {{ this.userData.lastName }}</p>
      <p>Date of birth: {{ this.userData.birthday }}</p>
    </article>
    <article class="c-user-profile__user-info-block">
      <h3>About</h3>
      <p>{{ this.userData.about }}</p>
    </article>
    <article class="c-user-profile__user-info-block">
      <h3>System information</h3>
      <p>Selected language:</p>
      <p>
        Date of last update:
        {{ this.userData.dateOfChange }}
      </p>
    </article>
  </section>
</main>
