.c-welcome {
  min-height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__label {
    font-size: 6vh;
    text-align: center;
    line-height: 0.5vh;
    &--small {
      font-size: 4vh;
    }
  }
  &__img-container {
    text-align: center;
    img {
      width: 10vh;
      min-width: 80px;
    }
  }
  @media only screen and (max-width: 768px) {
    &__label {
      font-size: 5vw;
      line-height: 1vw;
      &--small {
        font-size: 4vw;
      }
    }
    img {
      width: 14vw;
    }
  }
  @media only screen and (max-width: 480px) {
    &__label {
      font-size: 7vw;
      line-height: 1vw;
      &--small {
        font-size: 5vw;
      }
    }
    img {
      width: 14vw;
    }
  }
}
